.logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 600px;   
    margin: 0 auto; 
    
}

.logo img {
    width: 100%;
    height: auto;
}
.navbar {
    background-color: #333;
    margin: 0;
    padding: 0;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100px;             
    
    background-image: url("kepek/609173.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.nav-menu {
    list-style: none;     
    margin: 0;            
    padding: 0;           
}

.nav-menu li {
    display: inline-block;
    
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    
}

.nav-link:hover {
    color: #f7d053;
}