nav {
  margin-top: 10px;
}
nav a {
  text-decoration: none;
  color: #e6d8a8;
  margin: 10px;
  font-weight: bold;
  padding: 50px;
}
nav a:hover {
  color: #ffffff;
  text-shadow: 0 0 5px #c9a227;
}