
.jegyzet-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.jegyzet {
  margin: 0;
}
header{
    background-image: url(kepek/yhormer2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130px;
    
    
}
.form-container{
    justify-items: center;
}
.artikul {
    width: 450px;
    justify-self: center;
    position: relative;
    z-index: 1;
}
.artikul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(kepek/pontiff.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: -1;
}
.ds{
    justify-self: center;
}
.kezdo{
    justify-self: center;
}
